#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */

.main-content {
  padding: 2rem; /* Adjust the padding as needed */
}

.hero-section,
.second-hero-section,
.footer {
  padding: 4rem 2rem; /* Extra padding to create space */
}

.footer {
  background-color: #e5eaf0; /* Subtle background color */
  border-radius: 12px; /* Rounded corners */
  padding: 2rem;
}

@media (min-width: 768px) {
  .hero-section,
  .second-hero-section,
  .footer {
    padding: 6rem 4rem; /* More padding on larger screens */
  }
}
